
.bindheight {
    height: 100%;
    overflow: hidden;
}

#login-wrap {
    background: #e7e7e7;
    height: 100%;
    overflow: hidden;
}

.login-container {
    padding: 20px;
    margin: 0 auto;
    background-color: #e7e7e7;
}

.login-header {
    max-width: 770px;
    margin: 0 auto 10px auto;
}

.login-title {
    display: inline-block;
    text-align: center;
    font-family: "FuturaLT-Light", "NotoSansCJKsc-Light", "NotoSansCJKsc-Normal", "PingFangSC-Regular", "Hiragino Sans GB", "\5FAE\8F6F\96C5\9ED1", "Microsoft YaHei", sans-serif;
    color: #313131;
    font-size: 30px;
    letter-spacing: 2.5px;
    padding: 60px 0 19px;
    position: relative;
    border-bottom: 1px solid #DBD8D6;
}

.login-bottom {
    position: relative;
    padding: 44px 40px 80px 40px;
    min-height: 426px;
    margin-bottom: 160px;
    max-width: 770px;
    margin: 0 auto;
}

.login-left {
    padding: 0;
    float: left;
    border-right: 1px solid #fff;
}

.login-right {
    padding: 0 0 0 40px;
    float: right;
}


/* 右侧区 start */

.login-left-form {
    max-width: 299px;
}

.login-right-form {
    max-width: 299px;
}

.login-form-group {
    font-family: "FuturaLT-Book", "NotoSansCJKsc-DemiLight", "NotoSansCJKsc-Normal", "PingFangSC-Regular", "Hiragino Sans GB", "\5FAE\8F6F\96C5\9ED1", "Microsoft YaHei", sans-serif;
    font-size: 12px;
    color: #313131;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
}

.login-form-group>span {
    display: block;
    margin-bottom: 5px;
}

.login-form-group input {
    display: block;
    height: 37px;
    width: 100%;
    padding: 12px 14px 11px 14px;
    border-radius: 0;
    border: 0;
}

.remember-group label {
    font-family: "FuturaLT-Book", "NotoSansCJKsc-DemiLight", "NotoSansCJKsc-Normal", "PingFangSC-Regular", "Hiragino Sans GB", "\5FAE\8F6F\96C5\9ED1", "Microsoft YaHei", sans-serif;
    font-size: 12px;
    color: #313131;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
}

.remember-group span {
    display: inline-block;
    vertical-align: top;
}

input#remember-check {
    display: inline-block;
    width: 16px;
    height: 16px;
}

.login-form-btn {
    padding: 0 5px;
    max-width: 299px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #C1B497
}

.login-form-btn input {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    display: block;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
}

.login-form-btn:hover {
    background-color: #D5CAB4;
    transition: all .5s linear;
}

.login-form-forget-btn {
    max-width: 299px;
    margin-top: 5px;
    text-align: center;
    font-size: 12px;
}

.login-form-forget-btn a {
    color: #C1B497;
}


/* 左侧区 start*/


/* 右侧区 start */

.login-right-info {
    font-family: "FuturaLT-Light", "NotoSansCJKsc-Light", "NotoSansCJKsc-Normal", "PingFangSC-Regular", "Hiragino Sans GB", "\5FAE\8F6F\96C5\9ED1", "Microsoft YaHei", sans-serif;
    color: #4B4B4B;
}

.login-info-title {
    position: relative;
    margin-bottom: 10px;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 20px;
}

.login-info-tip-title,
.login-info-tip {
    font-size: 14px;
    color: #292828;
}

.login-info-btn {
    max-width: 240px;
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    text-align: center;
    border: 2px solid #C8C6C5;
}

.login-info-btn:hover {
    border: 2px solid #999;
    color: #999;
}


/* 右侧区 end */


/* 关闭按钮 */

.dialog-close-btn {
    position: relative;
    padding: 10px 0 0 0;
    margin-bottom: 10px;
    height: 40px;
    color: #C1B497;
    font-size: 30px;
}

.dialog-close-btn i {
    position: absolute;
    right: 0;
    display: inline-block;
    cursor: pointer;
}


/* 注册弹出层 start*/

#register-dialog {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    padding-bottom: 2%;
    width: 100%;
    height: 100%;
    z-index: 99;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, .6)
}

.error {
    margin-top: 5px;
    color: #EA5460;
}

input.error {
    border: 2px solid #EA5460;
    background-color: #FADADB !important;
}

#agree-error {
    color: #EA5460;
}

.dialog-scroll {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
    padding-top: 125px;
    padding-bottom: 100px;
}

.register-dialog-container {
    padding: 20px;
    width: 40%;
    min-width: 320px;
    background-color: #fff;
}

.register-dialog-title {
    text-align: center;
    padding: 0 20px;
    border-bottom: 1px solid #E7E7E7;
}

.register-dialog-title p {
    font-size: 24px;
}

.register-form-container {
    padding: 20px 20px;
}

.register-form-group p {
    margin-bottom: 5px;
}

.register-form-group input {
    background-color: #EAEAEA;
}

.validate-left,
.valiate-phone-left {
    display: inline-block;
    width: 50%;
}

.validate-right,
.valiate-phone-right {
    display: inline-block;
    width: 40%;
}

.valiate-phone-right a {
    color: #C1B497
}

.accept-checkbox-group {
    vertical-align: middle;
}

.accept-checkbox-group label {
    font-family: "FuturaLT-Book", "NotoSansCJKsc-DemiLight", "NotoSansCJKsc-Normal", "PingFangSC-Regular", "Hiragino Sans GB", "\5FAE\8F6F\96C5\9ED1", "Microsoft YaHei", sans-serif;
    font-size: 12px;
    color: #313131;
    letter-spacing: 0.5px;
}

.accept-checkbox-group input {
    width: 12px;
    height: 12px;
    background-color: #C8C6C5;
    border: 1px solid #C1B497;
    vertical-align: middle;
}

.accept-checkbox-group span {
    vertical-align: middle;
}

.create-btn {
    text-align: center;
}

.create-btn input {
    display: inline-block;
    background: #C1B497;
    border: 2px solid #C1B497;
    color: #fff;
    zoom: 1;
    font-weight: normal;
    vertical-align: middle;
    min-width: 128px;
    padding: 0px 5px;
    height: 40px;
    line-height: 36px;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
}


/* 注册弹出层 end*/


/* 忘记密码弹出层 start*/

#forget-dialog {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
}

.forget-dialog-container {
    padding: 20px;
    width: 40%;
    min-width: 320px;
    background-color: #fff;
}

.forget-dialog-title {
    text-align: center;
    padding: 0 20px;
}

.forget-dialog-title p {
    font-size: 24px;
}

.forget-dialog-tips {
    max-width: 450px;
    margin: 0 auto;
    border-top: 1px solid #E7E7E7;
    border-bottom: 1px solid #E7E7E7;
    padding: 27px 30px 26px;
    font-size: 12px;
    color: #999;
    text-align: center;
    font-style: italic;
    letter-spacing: 1.43px;
    line-height: 22px;
    font-family: "TimesNewRomanPS-ItalicMT", "STSong", "NotoSansCJKsc-Normal", "PingFangSC-Regular", "Hiragino Sans GB", "\5FAE\8F6F\96C5\9ED1", "Microsoft YaHei", sans-serif;
}
.forget-form-container {
    margin: 20px;
}
.forget-dialog-tips p{
    margin-bottom: 5px;
}
.forget-form-group p {
    margin-bottom: 0;
}
.forget-form-group input {
    background-color: #EAEAEA;
    border: 2px solid #C1B497;
}
#forget_email.error {
    border: 2px solid #EA5460;
}
.picture-validate-group {
    position: relative;
}
.validate-left {
    float: left;
}
.validate-right {
    margin-top: 20px;
    margin-left: 20px;
    float: left;
}
.clear {
    clear: both;
}

/* 忘记密码弹出层 end */

@media screen and (max-width: 767px) {
    .login-bottom {
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
    }
    .login-title {
        font-size: 17px;
    }
    .login-left {
        width: 100%;
        padding-bottom: 20px;
        float: left;
        margin-bottom: 20px;
        border-right: none;
        border-bottom: 1px solid #fff;
    }
    .login-right {
        width: 100%;
        padding: 0;
        float: right;
    }
    .login-info-title {
        text-align: center;
        font-size: 17px;
    }
    .login-info-btn {
        font-size: 12px;
        margin: 0 auto;
    }
    .register-dialog-container {
        width: 100%;
    }
    .forget-dialog-container {
        width: 50%;
    }
    .forget-dialog-tips {
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 1023px) {
    .login-bottom {
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
    }
    .login-title {
        font-size: 17px;
    }
    .login-left {
        padding-bottom: 20px;
        float: left;
        margin-bottom: 20px;
        border-right: none;
        border-bottom: 1px solid #fff;
    }
    .login-left-form {
        max-width: 100%;
    }
    .login-form-btn {
        max-width: 100%;
    }
    .login-form-forget-btn {
        max-width: 100%;
    }
    .login-right {
        padding: 0;
        float: right;
    }
    .login-info-title {
        text-align: center;
        font-size: 17px;
    }
    .login-info-btn {
        color: #000;
        font-size: 12px;
        margin: 0 auto;
    }
    .register-dialog-container {
        width: 80%;
    }
    .forget-dialog-container {
        width: 50%;
    }
    .forget-dialog-tips {
        padding-bottom: 15px;
    }
}